body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D8E9A8;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: #191A19;
}

form {
    text-align: center;
    margin-top: 10px;
    background-color:#e9e9e9;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.6);
    padding: 36px 12px;
    border-radius: 4px;

}

input {
    padding: 8px;
}

.input {
    color: rgb(255, 255, 255);
    font-size: 16px; 
    background-color: rgba(78, 159, 61, 0.9);
    margin: 2px;
    border-radius: 6px;
    border-width: 14px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.6);
}

.predict {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1E5128;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.6);
    border-radius: 6px;
}

.predict:hover {
    background-color: #164920;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.36);
}

.predict:active {
    opacity: 0.8;
}

.choose-file-button {
    background-color: black;
    color: #D8E9A8;
    font-size: 12px;
}

.result {
    margin-top: 30px;
}

.result h2 {
    font-size: 26px;
    color: #191A19;
}

.result p {
    font-weight: bold;
    font-size: 20px;
    color: #4E9F3D;
    margin-left: 24px;
    margin-right: 24px;
}

.result .para3 {
    text-align: center;
    color: #191A19;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}




