<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <title>Malware Detection</title>
</head>
<body>
    <div class="container">
        <h1>Malware Detection Model</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" class="input">
            <button type="submit" class="predict">Predict</button>
        </form>
        {% if predictions %}
            <div class="result">
                <h2>Predictions:</h2>
                <p class="p1">{{ predictions }}</p>
                <p class="p2">{{ predictions2 }}</p>
                <p class="para3">{{ accuracy }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
